@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">
@await Component.InvokeAsync("AdminLayoutHeaderCP")
<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->

            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

                @await Component.InvokeAsync("AdminLayoutAppBrandDemoCP")

                <div class="menu-inner-shadow"></div>

                @await Component.InvokeAsync("AdminLayoutSidebarCP")
            </aside>
            <!-- / Menu -->
            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->
                @await Component.InvokeAsync("AdminLayoutNavbarCP")
                <!-- / Navbar -->
                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->

                    <div class="container-xxl flex-grow-1 container-p-y">

                        <!-- Basic Layout -->
                        @RenderBody()
                    </div>
                    <!-- / Content -->
                    <!-- Footer -->
                    @await Component.InvokeAsync("AdminLayoutFooterCP")
                    <!-- / Footer -->

                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    @await Component.InvokeAsync("AdminLayoutScriptCP")

    <!-- Scripts section -->
    @RenderSection("Scripts", required: false)
</body>
</html>
